.slave-component {
  width: 250px;
  height: 250px;
  background-image: url("slave.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 5rem;
}