.counter-current-value {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.counter-paddle {
  background-image: url("paddle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50px;
  transform: translateX(-25%);
  position: relative;
  margin: 0 auto;
  width: 200px;

  & > .counter-paddle-text {
    color: #fff;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
