@import "src/variables";
.event-box-component {
  position: relative;
  max-width: 500px;
  max-height: 400px;
  .double-paddle-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translateY(-25px);
    left: 50%;
  }
  .event-box-container {
    position: relative;
    text-align: center;
    border: 1px solid black;
    overflow-y: auto;
    max-width: inherit;
    max-height: inherit;
  }
  .event-box-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event-box-description {
    text-align: center;
  }
  .event-box-action-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    .action-button-container {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 5px;
      > button {
        height: 100%;
        max-height: 60px;
      }
    }
    .event-box-action-button-text {
      max-width: 150px;
      white-space: normal;
      word-wrap: break-word;
    }
  }
}
