@import "src/variables";

.footer-component {
  display: flex;
  justify-content: flex-start;
  //position: absolute;
  bottom: 0;
  width: 100%;
  .footer-container {
    background-color: $color-normal;
    min-width: 100%;
    height: 4rem;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-disclaimer {
    font-weight: bold;
    color: #a9a9a9;
    margin-left: 5rem;
  }
}
