body {
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 17px;
}
.main-wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  position: relative;
  justify-content: flex-end;
  padding-top: 2rem;
  min-height: calc(100vh - 8rem);
}

.progress-list-container {
  width: 400px;
  height: auto;
  margin-right: 5rem;
  margin-top: 5rem;
}

.centered-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5rem;
}
