@import "~antd/dist/antd.css";
@import "variables";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Source Sans Pro", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
}

@mixin wrap-ant-color-btn($color) {
  background-color: $color;
  border-color: $color;
  &:focus {
    background-color: $color;
    border-color: $color;
  }
  &:hover {
    background-color: $color;
    border-color: $color;
  }
}

.attention-btn {
  @include wrap-ant-color-btn($color-attention);
}
.action-btn {
  @include wrap-ant-color-btn($color-action);
}
